body {
    margin: 0;
    font-family: "helvetica";
    letter-spacing: 1px;
    font-size: 1.1rem;
    height: 100vh;
    width: 100vw;
}

.navmenu {
    margin: 15px;
    position: absolute;
}

.navmenu button {
    font-size: 1.2rem;
    background-color: black;
    color: white;
    height: 3rem;
    border-radius: 1rem;
    padding: 0 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    border: 2px solid black;
}

.navmenu button:hover {
    background-color: white;
    color: black;
    border-color: darkslategray;
    transition: background-color 0s, color 0s;
}

.navmenu #toggleIcon {
    cursor: pointer;
    position: relative;
    top: 7px;
}

.navmenu #toggleIcon:hover {
    color: white;
}

.navmenu .buttons {
    display: inline-block;
}

.navmenu .buttons.hide {
    visibility: hidden;
}

.page {
    height: 100%;
    width: 100%;
}

.pageHome {
    background-color: lightskyblue;
}

.pageOther {
    background-color: tan;
}

